

body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
     margin: 0;
     box-sizing: content-box;
}

.header {
    height: 105px;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
    background: -moz-linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
    background: linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
}


#top-bar{
    display: flex;
    flex-direction: row;
    padding-right: 1150px;
    padding-top: 20px;
}

#search-btn{
    color: #7D7D7D;
    background-color: #FFFFFF;
}

#eng{
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#menu {
    position: fixed;
    top: 55px;
    right: 600px;

 }

li{
    list-style: none;
}

ul{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }


.main-menu-item{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#menu >div>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    
}
#menu >div>li>a:hover {
    color: #005CA0;
    text-decoration: underline;

  }
  #menu>div>div>a:hover{
        color: #005CA0;
    text-decoration: underline;
  }

.separate{
    color: lightgray;
}


#home{
    color: #005CA0;
}


a:hover {
    color: #005CA0;
    text-decoration: underline;
}


/* dropdown*/


.content {
  display: none;
  position: absolute;
  background: #7D7D7D;
  background: -webkit-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  background: -moz-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  background: linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  min-width: 160px;

}

.content a {
  float: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}




.about-content a:hover {
  background-color: #B0B0B0	;
}

.about:hover .about-content {
  display: block;
}

.units-content a:hover {
  background-color: #B0B0B0	;
}

.units:hover .units-content {
  display: block;
}


.liability-content a:hover {
  background-color: #B0B0B0	;
}

.liability:hover .liability-content {
  display: block;
}

.investor-content a:hover {
  background-color: #B0B0B0	;
}

.investor:hover .investor-content {
  display: block;
}

.stations-content a:hover {
  background-color: #B0B0B0	;
}

.stations:hover .stations-content {
  display: block;
}


.career-content a:hover {
  background-color: #B0B0B0	;
}

.career:hover .career-content {
  display: block;
}


.news-content a:hover {
  background-color: #B0B0B0	;
}

.news:hover .news-content {
  display: block;
}

#logo {
    position: fixed;
    right: 500px;
    top: 30px;
}


/* FOOTER */
.footer{
    left: 0;
    bottom: 0;
    height: 38px;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #7D7D7D;
    background: -webkit-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
    background: -moz-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
    background: linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
}

.footer nav ul li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 0.5em;
}

#fb{
    color: #005CA0;
    background-color: white;
    border-color: white;
}

.footer>nav>ul>li>a:hover{
    color: #005CA0;
    text-decoration: underline;
}






/*Contact Page */

#upper-nav{
    left: 24px;
    font-size: 12px;
}
#upper-nav>a{
    text-decoration: none;
    color: #5c5c5c;

}

#upper-nav>a :hover{
    color: #005CA0;
    text-decoration: underline;
}

#contact-page{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    font-size: 12px;
    color: #5c5c5c;
    width: 900px;
    margin: 0 auto;

}


#form{

    width: 347px;
    min-height: 332px;
    padding: 10px 18px;
    background: url(contact_form_bg.png);
   
}

label{
    width: 160px;
    padding: 3px;
}

textarea{
    width: 249px;
    height: 109px;
    padding: 3px;
}


#form>div>label  {
    color: #6d6d6d;
    display: inline-block;
    width: 75px;
    text-align: right;
    padding-bottom: 10px;
}

#form>button{
    height: 21px;
    border-top-right-radius: 10px;
    float: left;
    border: thin white;
    color: white;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) -43%, rgba(30,101,205,1) 20%);
}



#side-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.side{
    width: 248px;
    height: 142px;
    padding: 18px 22px 15px;
    background: url(cube_bg.png);
}


.contact-h1{
    margin-top: 0px;
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;

}

.contact-h2{
    display: block;
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    margin: 5px 0;
}

.contact-p{
    color: #72716d;
    font-size: 12px;
}


