

body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
     margin: 0;
}

.header {
    height: 105px;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
    background: -moz-linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
    background: linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
}


#top-bar{
    display: flex;
    flex-direction: row;
    padding-right: 1150px;
    padding-top: 20px;
}

#search-btn{
    color: #7D7D7D;
    background-color: #FFFFFF;
}

#eng{
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#menu {
    position: fixed;
    top: 55px;
    right: 600px;

 }

li{
    list-style: none;
}

ul{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }


.main-menu-item{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#menu >div>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    
}
#menu >div>li>a:hover {
    color: #005CA0;
    text-decoration: underline;

  }
  #menu>div>div>a:hover{
        color: #005CA0;
    text-decoration: underline;
  }

.separate{
    color: lightgray;
}


#home{
    color: #005CA0;
}


a:hover {
    color: #005CA0;
    text-decoration: underline;
}


/* dropdown*/


.content {
  display: none;
  position: absolute;
  background: #7D7D7D;
  background: -webkit-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  background: -moz-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  background: linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  min-width: 160px;

}

.content a {
  float: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}




.about-content a:hover {
  background-color: #B0B0B0	;
}

.about:hover .about-content {
  display: block;
}

.units-content a:hover {
  background-color: #B0B0B0	;
}

.units:hover .units-content {
  display: block;
}


.liability-content a:hover {
  background-color: #B0B0B0	;
}

.liability:hover .liability-content {
  display: block;
}

.investor-content a:hover {
  background-color: #B0B0B0	;
}

.investor:hover .investor-content {
  display: block;
}

.stations-content a:hover {
  background-color: #B0B0B0	;
}

.stations:hover .stations-content {
  display: block;
}


.career-content a:hover {
  background-color: #B0B0B0	;
}

.career:hover .career-content {
  display: block;
}


.news-content a:hover {
  background-color: #B0B0B0	;
}

.news:hover .news-content {
  display: block;
}

#logo {
    position: fixed;
    right: 500px;
    top: 30px;
}


/* FOOTER */
.footer{
    left: 0;
    bottom: 0;
    height: 38px;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #7D7D7D;
    background: -webkit-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
    background: -moz-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
    background: linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
}

.footer nav ul li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 0.5em;
}

#fb{
    color: #005CA0;
    background-color: white;
    border-color: white;
}

.footer>nav>ul>li>a:hover{
    color: #005CA0;
    text-decoration: underline;
}

/*main*/


#row-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top{
      z-index: -1;
    height: 355px;
    width: 293px;
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 25px;

}


.top-content{
  position: absolute;
    color: #fff;
    background-color: gray;
    opacity: 0.9;
    width: 228px;
    height: 105px;
    padding: 10px;
    bottom: 6px;
    right: 10px;
    border-bottom-right-radius: 20px;
}


.top-pic{
    border-bottom-right-radius: 20px;
}

.top-head{
  align-self: start;
    margin-top: 0px;
    font-size: 14px;
    font-weight: bold;

}
.top-p{

    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
}

.top-a{
position: absolute;
    margin-top: 0px;
    font-size: 13px;
    text-decoration: underline;
    float: left;
    color: #fff;
}


#row-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;
   
}


.bottom{
    position: relative;
    
    float: right;
    width: 244px;
    padding: 0 24px;
    height: 216px;
    margin: 5px;
      background: url(small_cube_bg.png);

}

.bottom-h{
  position: relative;
    height: 24px;
    right: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #575757;
}


.bottom-a{
    font-size: 13px;
    text-decoration: underline;
    float: left;
    color: #72716d;
}


#map{
  display: flex;
  flex-direction: row;
  padding-bottom: 70px;

}

#map-image{
  float: left;
  border: 0px;
  padding-right: 70px;

}

#districts{

  display: flex;
  flex-direction: column;
  float: right;

}

