


body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
     margin: 0;
}

.header {
    height: 105px;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
    background: -moz-linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
    background: linear-gradient(to top, #FFFFFF 0%, #7D7D7D 10%);
}

.footer{
    left: 0;
    bottom: 0;
    height: 38px;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #7D7D7D;
    background: -webkit-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
    background: -moz-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
    background: linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
}

#menu {
    height: 33px;
    position: relative;
    top: 72px;
    margin: 0 143px 0 0;

}

li{
    list-style: none;
}

ul{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


.main-menu-item{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#menu >div>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;

    
}

.separate{
    color: lightgray;
}


#home{
    color: #005CA0;
}


a :hover {
    color: #005CA0;
    text-decoration: underline;
}


/* dropdown*/


.content {
  display: none;
  position: absolute;
  background: #7D7D7D;
  background: -webkit-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  background: -moz-linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  background: linear-gradient(to top, #7D7D7D 90%, #FFFFFF 100%);
  min-width: 160px;

}

.content a {
  float: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}




.about-content a:hover {
  background-color: #B0B0B0	;
}

.about:hover .about-content {
  display: block;
}

.units-content a:hover {
  background-color: #B0B0B0	;
}

.units:hover .units-content {
  display: block;
}


.liability-content a:hover {
  background-color: #B0B0B0	;
}

.liability:hover .liability-content {
  display: block;
}

.investor-content a:hover {
  background-color: #B0B0B0	;
}

.investor:hover .investor-content {
  display: block;
}

.stations-content a:hover {
  background-color: #B0B0B0	;
}

.stations:hover .stations-content {
  display: block;
}


.career-content a:hover {
  background-color: #B0B0B0	;
}

.career:hover .career-content {
  display: block;
}


.news-content a:hover {
  background-color: #B0B0B0	;
}

.news:hover .news-content {
  display: block;
}


